
<div>
  <section> <div class=""><span (click)="openTab = LIST_NODE;"><span class="glyphicon glyphicon-remove"></span></span></div>
  <div  [hidden]="openTab !== ADD_NODE">
    <div class="">
      <add-node></add-node>
    </div>
  </div>
  <div [hidden]="openTab !== CONNECT_NODE">
    <div>
      <connection-form></connection-form>
    </div>
  </div>
  </section>
  <div [hidden]="openTab !== LIST_NODE">
  <div class=row >
    <h3>Nodes</h3>
  <ul *ngFor="let nod of nodes">
    <div class="row">
      <div class="form-group col-md-2 panel panel-default">
        <div class="row panel panel-heading">
          <label >{{nod.Name}}</label>
        </div>
        <div class=" panel panel-body">
          <span >{{nod.Description}}</span>
        </div>
        <div class="panel panel-group">
          <button type="button" id="editNodeBtn" (click)="EditNodeButton()" class="btn btn-primary">Edit Node</button>
          <button type="button" id="deleteNodeBtn" (click)="DeleteNodeButton()" class="btn btn-default">Delete Node</button>
        </div>
      </div>
    </div>
  </ul>
  </div>
  <div class="row btn-group" >
    <input type="button" id="addNodeButton" (click)="openTab = ADD_NODE" value="Add Node" class="btn btn-default"/>
    <input type="button" id="connectNodeButton" (click)="openTab = CONNECT_NODE" value="Connect Node" class="btn btn-default"/>
  </div>
</div>
</div>
